Django==1.8.5
Markdown==2.6.5
MySQL-python==1.2.5
PAM==0.4.2
Pillow==2.3.0
PyJWT==1.4.0
Twisted-Core==13.2.0
Twisted-Web==13.2.0
adium-theme-ubuntu==0.3.4
apt-xapian-index==0.45
argparse==1.2.1
beautifulsoup4==4.2.1
chardet==2.0.1
colorama==0.2.5
command-not-found==0.3
cycler==0.9.0
debtagshw==0.1
defer==1.0.6
dirspec==13.10
django-crispy-forms==1.5.2
django-markdown==0.8.4
django-registration==2.0.3
duplicity==0.6.23
facepy==1.0.7
fandjango==4.2
googlefinance==0.7
gyp==0.1
html5lib==0.999
httplib2==0.8
jsonfield==1.0.3
lockfile==0.8
lxml==3.3.3
matplotlib==1.5.0
migrate==0.3.7
numpy==1.8.2
oauthlib==1.0.3
oneconf==0.3.7.14.04.1
pbr==1.8.1
pdfcrowd==2.7
pexpect==3.1
piston-mini-client==0.7.5
pyOpenSSL==0.13
pycrypto==2.6.1
pycups==1.9.66
pycurl==7.19.3
pygame==1.9.1release
pygobject==3.12.0
pyparsing==2.0.6
pyserial==2.6
pysmbc==1.0.14.1
python-apt==0.9.3.5ubuntu1
python-dateutil==2.4.2
python-debian==0.1.21-nmu2ubuntu2
python-openid==2.2.5
python-social-auth==0.2.13
pytz==2015.7
pyxdg==0.25
reportlab==3.0
requests==2.8.1
requests-oauthlib==0.5.0
sessioninstaller==0.0.0
six==1.10.0
software-center-aptd-plugins==0.0.0
stevedore==1.9.0
system-service==0.1.6
unity-lens-photos==1.0
urllib3==1.7.1
virtualenv==13.1.2
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.1
wheel==0.24.0
wsgiref==0.1.2
xdiagnose==3.6.3build2
youtube-dl==2014.02.17
zope.interface==4.0.5
