@charset "utf-8";
/* CSS Document */
html
{
width:100%;
height:100%;
}
body
{
background-image:url(../imgs/bg.jpg);
background-size:100% auto;
background-position:center;
background-attachment:fixed;
margin:0;
width:100%;
height:100%;
}
h1
{
color:#FFFFFF;
font-family: 'Open Sans', sans-serif;
font-size:56px;
}
p
{
color:#FFFFFF;
font-family: 'Open Sans', sans-serif;
font-size:25px;
}
ul li
{
color:#FFFFFF;
font-family: 'Open Sans', sans-serif;
font-size:25px;
}
p.bttn_txt
{
color:#FFFFFF;
font-family: 'Open Sans', sans-serif;
font-size:25px;
margin:0;
padding:0;
}
.contentA
{
height:100%;
width:100%;
float:left;
}
.contentB
{
height:100%;
width:100%;
float:left;
background-color:#D1215C;
}
.contentC
{
height:100%;
width:100%;
float:left;
background-color:#DDDDDD;
}
.intro
{
margin-left:10%;
width:30%;
float:left;
margin-top:200px;
}
.rules_bt
{
height:auto;
width:100px;
border-radius:5px;
overflow:hidden;
float:left;
background-color:#D92762;
padding:15px;
}
.prizes_bt
{
float:left;
height:auto;
border-radius:5px;
border:1px solid white;
width:100px;
overflow:hidden;
padding:15px;
margin-left:50px;
}
.prizes_bt:hover
{
float:left;
height:auto;
border-radius:5px;
border:1px solid white;
width:100px;
overflow:hidden;
padding:15px;
margin-left:50px;
cursor:pointer;
background: -moz-linear-gradient(top,  rgba(255,255,255,0.43) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.43)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0.43) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,0.43) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,0.43) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,0.43) 0%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6effffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}
.rules_bt:hover
{
height:auto;
width:100px;
border-radius:5px;
overflow:hidden;
float:left;
background-color:#D1215C;
padding:15px;
cursor:pointer;
}
.rules_cont
{
width:70%;
margin-left:10%;
margin-top:10%;
float:left;
}