@charset "utf-8";
/* CSS Document */
html
{
height:100%;
width:100%;
}
body
{
margin:0;

width:100%;
}
body
{
background-image:url(../imgs/bg.jpg);
background-repeat:no-repeat;
background-size:100% 100%;
}
h1,h2,h3,p{
font-family: 'Duru Sans', sans-serif;
}
.login_div
{
height:25%;
width:50%;
background-color:#DFDFDF;
border-radius:10px;
margin-left:25%;
margin-top:20%;
padding:1%;
}
.fb_login
{
background: rgb(31,53,155); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(31,53,155,1) 0%, rgba(42,105,214,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(31,53,155,1)), color-stop(100%,rgba(42,105,214,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(31,53,155,1) 0%,rgba(42,105,214,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(31,53,155,1) 0%,rgba(42,105,214,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(31,53,155,1) 0%,rgba(42,105,214,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(31,53,155,1) 0%,rgba(42,105,214,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f359b', endColorstr='#2a69d6',GradientType=0 ); /* IE6-9 */
padding-top:10px;
height:60px;
width:250px;
border-radius:5px;
margin-left:30%;
color:#FFFFFF;
font-size:18px;
text-align:center;
font-family: 'Duru Sans', sans-serif;
cursor:pointer;

}
.fb_login:hover
{
background: rgb(0,0,0); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(44,44,44,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(44,44,44,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(44,44,44,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(44,44,44,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(44,44,44,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(44,44,44,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#2c2c2c',GradientType=0 ); /* IE6-9 */

}
.form_reg_div
{
margin-left:10%;
width:auto;
height:auto;
}