{% extends 'base.html' %}
{%block content%}

{% if user and not user.is_anonymous %}

  <nav class="navbar navbar-default">
  <div class="container1">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span9 class="icon-bar"></span9>
        <span9 class="icon-bar"></span9>
        <span9 class="icon-bar"></span9>                        
      </button>
      <a href="/" style="color:#000" class="navbar-brand"><span92>🔍</span92><span91 style="margin-left:10px;font-family: 'Creepster', cursive;font-size:20px;opacity: 0.8;">Online Treasure Hunt</span91>
      </a>
<div class="navbar-brand" >Your Score :   <span style="font-weight:bold;color:#5CB85C">{{player.score}} points</span></div>
    
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">

        <li><a href="/rules">Rules</a></li>
        <li><a href="/lboard/">Leaderboard</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">

        <li class="dropdown">
          <button class="dropdown-toggle btn btn-default navbar-btn" data-toggle="dropdown" style="margin-left:10px" >
           
<b>{{ user.get_full_name|default:user.username }}</b>

          <span9 class="caret"></span9>
          </button>
          
          <ul class="dropdown-menu">
        <li><a href="{% url 'auth:logout' %}?next={{ request.path }}"><b>Logout</b></a></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>


<audio autoplay="autoplay" loop="true"> 
     <source src="/static/hp-theme.mp3" />   
    </audio> 
{% endif %}

      <!-- Jumbotron -->
      <div class="jumbotron border-shadow" style="margin-top:15px;background-color:#eee">
        <h1> Stay tuned! More levels to be added!
        
      </div>

      

{%endblock%}

