{%extends 'base.html'%}

    {% block content %}

      <div class="masthead fontincr">
        <nav>
          <ul class="nav nav-justified" >
            <li class=""><a href="#">Home</a></li>
            <li><a href="http://mkti.in">Mukti website</a></li>
            <li><a href="https://www.facebook.com/muktinitdurgapur">Mukti FB Page</a></li>
             <li><a href="#">Contact</a></li>
            <li><a href="#">About</a></li>           
          </ul>
        </nav>
      </div>

      <!-- Jumbotron -->
      <div class="jumbotron" style="margin-top:15px;background-color:#eee">
        <h1 style="font-family: 'Creepster', cursive;font-size:70px">Online Treasure Hunt</h1>
        <p style="font-family: 'Capriola', sans-serif;" class="lead">Login through your Facebook/Google account to start playing!</p>
      </div>
      

      <div class="row">
        
        <div class="col-lg-6 rules " style="font-family: 'Montserrat', sans-serif;;border-left:5px solid #1B809E;"  >
          <h2 style="color:#1B809E;font-weight:bold">Rules of the Game</h2>
          <ul class="padsize">
            <li >You will be facing several challenging levels. The answer to a level may be a single word, multi-word or digits.</li>
           <li >Make sure that you type in all the answers in lowercase characters without any space between the words.</li>
           <li >Try to correlate the hints provided in the title, slug, image and the page source to find your way to the answer.</li>
           <li >Stay in touch with our official hint page which may help you in case you get stuck on any of the levels.</li>
          </ul>
          
        </div>

      {% if request.get_full_path = "/" %}
      
        <div style="font-family: 'Montserrat', sans-serif;" class="col-lg-6 padleft">
        <div class="sidebox">
          <h2 style="font-size:40px;text-align:center">Win Prizes!</h2>
          <p style="text-align:center;font-size:35px">Cash Prize</p>
          <p style="text-align:center;font-size:35px"> INR 5k</p>          
        </div>
        
        <!-- <div class="bgscroll col-lg-4 loginbu"style="float:right;padding:20px;text-align:center;margin-top:10px"> -->
        <div class="sidebox" style="margin-top:10px">
        <p style="font-size:20px">Login to Start playing!</p>
        <p><button onclick="window.location='{% url 'social:begin' 'facebook' %}?next={{ request.path }}';" class="btn-lg btn-facebook"><i class="fa fa-facebook"></i> | Login with Facebook</button></p>
        <p><button onclick="window.location='{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}';" class="btn-lg btn-google"><i class="fa fa-google"></i> | Login with Google</button></p>
        </div>
        </div>

      {% elif request.get_full_path = "/rules/"  %}

      <div class="col-lg-6 padleft">
        <div class="sidebox" style="padding:15px">
          <h2 style="font-size:25px;text-align:center">Continue Playing</h2>
          <a href="/"><button type="button" class="btn btn-primary btn-lg " style="margin-top:10px;">Go Back</button></a>
        </div>            
      </div>

      {% endif %}
      
      </div>

     {%endblock%}
