{%extends 'base.html'%}

{%block content%}

      <div class="row">
        <h1 class="lboardh1">Leaderboard</h1>
        
        <div class="col-lg-8 col-lg-offset-2" style="">
          
            {% if players %}
            <div class="table-responsive">
            <table  class="table table-hover table-striped table-bordered "  style="font-weight:bold;box-shadow: 0px 0px 8px #000">
                <tr style="background-color:#457fca;color:#fff;font-size:18px"> 
                	<th>#</th><th >Player Name</th><th>Player Score</th><th>Last level Crossed at</th>
                </tr>
                {% for player in players %}
                <tr>
                	<td>{{ player.rank }}</td><td>{{ player.name }}</td>    <td> {{player.score}} </td>    <td> {{player.timestamp}}</td>
                </tr>
                {% endfor %}
            </table>
            </div>
        {% else %}
            <strong>There are no players present.</strong>
        {% endif %}

		<a href="/"><button type="button" class="btn btn-primary btn-lg " style="margin-top:10px;">Go Back</button></a>

        </div>

      </div>

{%endblock%}


