<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

 {{ player.name }}
{% if user and not user.is_anonymous %}
     <li>
       <a>Hello {{ user.get_full_name|default:user.username }}!</a>
     </li>
     <li>
       <a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>
         <a href="/lboard/">Leaderboard</a></li>
     </li>
{% endif %}



 {% block msgblock %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert {% if message.tags %} alert-{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}"{% endif %} role="alert">{{ message }}</div>
            {% endfor %}
            {% endif %}
            {% endblock %}

</br>
 {{ level.text }}
</br>

Enter your answer:
        <form id="ans" method="post" action="/answer/">
            {% csrf_token %}
            Answer: <input type="text" name="ans" value="" size="50" />
            <br />

            <input type="submit" value="submit" />
        </form>

</html>
