{% extends 'base.html' %}
{%block content%}

{% if user and not user.is_anonymous %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand" >Hi, <span style="font-weight:bold">{{ user.get_full_name|default:user.username }}</span>!</div>
      <div class="navbar-brand" >Your Score :   <span style="font-weight:bold;color:#5CB85C">{{player.score}} points</span></div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/rules">Rules</a></li>
        <li><a href="/lboard/">Leaderboard</a></li>
        <li><a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a></li>
       </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

{% endif %}

      <!-- Jumbotron -->
      <div class="jumbotron" style="margin-top:15px;background-color:#eee">
        <h1>Hint Picture</h1>
        <p class="lead">Look at this picture for hint</p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        
        
        <div class="col-lg-6 rules" style="padding:25px">
          
            {% block msgblock %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert {% if message.tags %} alert-{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}"{% endif %} role="alert">{{ message }}</div>
            {% endfor %}
            {% endif %}
            {% endblock %}

            </br>
            <div class="lead" style="padding:10px">
            Q:
            {{ level.text }}
            </div>
            </br>


        Enter your answer:
        <br>
        <form id="ans" method="post" action="/answer/">
            {% csrf_token %}
            <br> <input type="text" name="ans" class="form-control" value="" size="50" />
            <br />

            <input type="submit" class="btn btn-primary btn-lg btn-block" value="Submit" />
        </form>
        </div>

      <div class="col-lg-6 padleft">
        <div class="sidebox" style="padding:15px">
          <p style="font-size:25px;text-align:center">Number of people who crossed this level</p>
          <p style="text-align:center;font-size:35px;color:green">{{level.numuser}}</p>          
        </div>
      </div>

{%endblock%}